version: 2

# https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates
updates:
    - package-ecosystem: npm
      directory: "/"
      schedule:
          interval: monthly
      cooldown:
          default-days: 7 # This 1-week delay is just by my intuition.
          include:
              - "*"
      open-pull-requests-limit: 99
      labels:
          - A-dependency
          - I-dependency-gardening
      versioning-strategy: increase
      ignore:
          - dependency-name: typescript
            update-types: ["version-update:semver-major", "version-update:semver-minor"]
      # - https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#groups
      groups:
          babel:
              patterns:
                  - "@babel/*"
          eslint:
              patterns:
                  - eslint
                  - "@eslint/*"
          typescript-eslint:
              patterns:
                  - "@typescript-eslint/*"
          # These are managed in the same repo and their releases are aligned.
          turborepo:
              patterns:
                  - turbo
                  - eslint-config-turbo

    #####################################################
    #   GitHub Action Workflows
    #####################################################
    - package-ecosystem: github-actions
      directory: "/"
      schedule:
          interval: monthly
      cooldown:
          default-days: 7 # This 1-week delay is just by my intuition.
          include:
              - "*"
      open-pull-requests-limit: 99
      labels:
          - A-dependency
          - I-dependency-gardening

    ##################################################
    #   In-repository composite actions
    #####################################################
    - package-ecosystem: github-actions
      directory: "/.github/actions/prepare_ci/"
      schedule:
          interval: monthly
      cooldown:
          default-days: 7 # This 1-week delay is just by my intuition.
          include:
              - "*"
      open-pull-requests-limit: 99
      labels:
          - A-dependency
          - I-dependency-gardening
