__dist/
__test_cache/
__tmp_mjs/
__type_test/
node_modules/

# include .eslintrc.js as eslint's target.
!.eslintrc.js

# FIXME: remove these from here
__tests__/Option/type_definition.test.ts
__tests__/Result/type_definition_es6.test.ts
