__dist/
__test_cache/
__tmp_mjs/
__type_test/
node_modules/

# include .eslintrc.js as eslint's target.
!.eslintrc.js

# FIXME: remove these from here
ava_test/ClassOption/type_definition.test.ts
ava_test/ClassResult/type_definition_es6.test.ts
