# See
#   - https://prettier.io/docs/en/options.html
#   - https://prettier.io/docs/en/configuration.html

# sort with values in .editorconfig
arrowParens = 'always'
bracketSpacing = true
printWidth = 100
quoteProps = 'consistent'
semi = true
singleQuote = true
tabWidth = 4
trailingComma = 'all'
useTabs = false

[[overrides]]
    files = "*.{yaml,yml}"
    [overrides.options]
    singleQuote = false

[[overrides]]
    files = "turbo.jsonc"
    [overrides.options]
    # Turborepo 2.5 does not support trailingComma even if in jsonc file.
    trailingComma = "none"

[[overrides]]
    # https://pnpm.io/ja/pnpm-workspace_yaml
    files = "pnpm-workspace.yaml"
    [overrides.options]
    tabWidth = 2
    singleQuote = true
